body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input, button {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
}

#map {
    height: 500px;
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
}
